#ignore the .o files
*.o

#ignore the exectuable files
pps-client-get
pps-launch-server
pps-client-put
pps-dump-node
pps-client-cat
pps-list-nodes
pps-client-substr
week04
tests
test-hashtable

#ignore the .orig
*.orig

#ignore the .gch
*.gch


